#top{
              
              background: linear-gradient(to bottom, rgba(255,255,255,0) 75%, #1d5f94 100%
              ),  url("images/stars.png");
              background-repeat: no-repeat;
              background-size: cover;
            }
            .navbar-brand{
                
                background-image:url("images/rocket.png");
                background-repeat:no-repeat;
                background-size: contain;
                width:60px;
                height:50px !important;
                margin: 5px 25px 0px 25px;
                position: relative;
                left: 25px;
              }
              .navbar-brand:hover {
                background-image:url("images/rocketwithfire.png");
                -webkit-animation: 5000ms takeoff infinite;
                animation: 5000ms takeoff infinite;
              }
              #projects{   
                  background-image: url("images/galwaybay3.png");
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;
                }
              