/* import other css files */
@import url("socialMediaSideBar.css");


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}


.content{
  min-height:100vh;
  position: relative;
}

.test{

}


.centerText{
  position: absolute;
  
  float: left;
  top: 47%;
  left: 49%;
  transform: translate(-50%, -50%);
}
.head{
  font-weight: bold;
  color:white;

}
.subHead{
  margin-left:24px;
  color:white;
  opacity: .7;
}
#top{
  background: linear-gradient(black, MidnightBlue );
  
  background-image: url("/images/stars.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#about{
  background: linear-gradient(MidnightBlue,SkyBlue);
}

#projects{
  background: linear-gradient(SkyBlue,powderblue );
}

a:hover{ 
  -webkit-transform: scale(1.2); 
}

hr{
  width:60px;
  margin-top:0px !important;
}


/*footer styles */
.button{
  border-radius:0px !important;
  border: none;
}

.foot{
  background-color:#191818;
  height:400px;
  width:100%;
  
 
}
.foot h2{
  font-weight:bolder;
  color:whitesmoke;
}
.footText{
  text-align:center;
}
.footerIcons {
    list-style:none;
   
    display: inline-block;
    margin: 0;
    padding: 0;
    
    
}
.footerIcons li {
  float:left;
}
.footerIcons li a{
  display:block;
  padding: 3px 15px 15px 15px;
}
.footerLogo{
  width:40px;
}
footer{
  background-color:#2d2d2d;
  border: 0px;
  color: whitesmoke;
  font-weight: lighter;

  padding:10px;
}



/* Bouncing arrow Styling*/

.downArrow{
  font-size:100px;
  margin-top:130px;
  position:absolute;
  left:40%;
  color:white;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
.bounce {
  -webkit-animation: 2000ms bounce infinite;
  animation: 2000ms bounce infinite;
}




/* Form Styling*/
::-webkit-input-placeholder {
  text-align: center;
  font-weight:bold;
}

:-moz-placeholder { 
  text-align: center;  
}

::-moz-placeholder {  
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

textarea { 
  text-align: center;
  resize:none;
  border-bottom:5px solid white !important;
  
 }

input { 
  text-align: center;
  border-bottom:5px solid white !important;
 }

 input:focus { 
  outline: none !important;
  border-bottom:5px solid skyblue !important;
  
}

textarea:focus {
      outline: none !important;
  border-bottom:5px solid skyblue !important;
  
}
.form-control{
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
     border-radius: 0 !important;
}



 /* Navbar Styling */

 .navbar{
   margin-bottom:0px !important;
   border: none !important;
   border-radius: 0  !important;
 }


/* About section styles */
.aboutWrapper{ 
  margin-top:350px;
  background-color:green;
  padding:20px;
  

}

 .aboutText{
   margin-bottom:20px;
 }


 .techIcons{
  width:20%;
  display:inline-block !important; 
  max-width:40px;
  margin:4px;
  }
 .csharpImage,.dotNetImage{
  width:20%;
 }
 .jsImage{
  width:20%;
   
 }
 .reactImage{
  width:20%;
 }
 .sqlImage{
  width:20%;
 }
 .imageCards{
   margin-left:0px;
   padding:0px !important;
   border:1px solid pink;
 }

/* Navbar style */
 .navbar-nav li a{
   font-size:20px;
   padding-top:0px;
   line-height: 33px !important;
   
   color:white !important;
 }
 

.socialLogo{
  width:30px;
  height:30px;
}
.gitHubLogo{
  border-radius:50%;
  border: 2px solid grey;
  background-color:white;
}
.navbar-brand{
  padding-bottom:0px;
}

.navbar-custom {
  
  border-color: #E7E7E7;
}

.navbar-brand{
   
    background-image:url("/images/rocket.png");
    background-repeat:no-repeat;
    background-size: contain;
    width:60px;
    height:50px !important;
    margin: 5px 25px 0px 25px;
    position: relative;
    left: 25px;
}



.navbar-custom {
  background-color: #191818!important;;
  border-color: #E7E7E7;
  z-index:9;
}

.brandLogo{
  width:45px;

}

/* Rocket Animation */
@-webkit-keyframes takeoff {
  0% {
      left: 20;
      top:15;
      
    }
    50% {
      left: 30px;
      -webkit-transform: rotate(90deg);
    }
     60% {
      
      -webkit-transform: rotate(180deg);
    }
    
    100% {
      left: 20px;
      
    }
  }
@keyframes takeoff {
    0% {
      left: 20;
      top: 0;
    }
    50% {
      left: 30px;
      transform: rotate(90deg);
    }
     60% {
      
      transform: rotate(180deg);
    }
    
    100% {
      left: 20px;
      
    }
  }
.navbar-brand:hover {
  background-image:url("/images/rocketWithFire.png");
  -webkit-animation: 5000ms takeoff infinite;
  animation: 5000ms takeoff infinite;
}

.navbar .navbar-collapse {
  text-align: center;
  overflow:hidden;
}

li span{
  position: absolute;
  display:block;
  left: 8px;
  bottom:12px;
  margin:0 auto;
  height: 0px;   
  width: 0px;
  transition: width 1s ease;
  background-color: white;
}
li:hover span{
  height:2px; 
  width:80%; 
}
 


