/* import other css files */
@import url("socialMediaSideBar.css");


body {
  margin: 0;
  padding: 0;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.content{
  min-height:100vh;
  position: relative;
}

.test{

}
.navbar-default {
  background: none !important;
  position: absolute !important;
  width: 100%;
  border:none;
}


.centerText{
  position: absolute;
  
  float: left;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -45%);
  text-shadow:  2px 2px   rgba(255, 255, 255, 0.45);
}
.head{
  font-weight: bold;
  color:white;
  text-align:center;

}
.subHead{
  text-align:center;
  color:white;
  opacity: .7;
}
#top{
  
  background: linear-gradient(to bottom, rgba(255,255,255,0) 75%, #1d5f94 100%
  ),  url("/images/stars.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#about{
  /*background: linear-gradient(MidnightBlue,SkyBlue); */
  background: rgb(0,0,0);
  background: linear-gradient(to bottom,#1d5f94 8%,#2989d8 38%,#2989d8 41%,#207cca 60%,#207cca 72%,#84b5ca 100%);

}

#projects{
  background: linear-gradient(SkyBlue,powderblue );

   
  background-image: url("/galwaybay3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.BigRocket{
  height:500px;
  top:320px;
  left:140px;
  z-index:9;
  position:absolute;
  animation: moveBalloon 40s linear infinite;             
}
@keyframes moveBalloon {
  from { transform: rotate(0deg) translateX(60px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(60px) rotate(-360deg); }
}

.Balloon2{
  height:150px;
  top:280px;
  left:600px;
  z-index:4;
  position:absolute;
 
  animation: moveBalloon2 50s linear infinite; 
          
}
@keyframes moveBalloon2 {
  from { transform: rotate(0deg) translateX(60px) rotate(0deg); }
  to   { transform: rotate(-360deg) translateX(60px) rotate(360deg); }
}



.clouds{
  height:600px;
  top:200px;
  left:-150px;
  z-index:7;
  position:absolute;
}
.weatherWrapper{
  position: relative;
}

.boatWrapper{
  position:relative;
}
/*
@media only screen and (min-width: 900px) {
.boats{
  height:130px;
  top:736px;
  left:400px;
  z-index:3;
  position:absolute;
  animation: moveBoats 200s linear infinite; 
}

@keyframes moveBoats {
    0%, 100% {
      left:30%;
    }
    50% {
      left:60%;
    }
  }
}
*/
.container-fluid{
  overflow:hidden !important;
}
a:hover{ 
  -webkit-transform: scale(1.2); 
}

hr{
  width:60px;
  margin-top:0px !important;
}


/*footer styles */
.button{
  border-radius:0px !important;
  border: none;
}

.foot{
  background-color:#191818;
  min-height:400px;
  width:100%;
 
 
}
.foot h2{
  font-weight:bolder;
  color:whitesmoke;
}
.footText{
  text-align:center;
}
.footText p{
  color:#c7c7c7;
}

@media only screen and (max-width: 1000px) {
  .footText{
    margin-top:0px;
  }
}

.footerIcons {
    list-style:none;
   
    display: inline-block;
    margin: 0;
    padding: 0;
    
    
}
.footerIcons li {
  float:left;
}
.footerIcons li a{
  display:block;
  padding: 3px 15px 15px 15px;
}
.footerLogo{
  width:40px;
}
footer{
  background-color:#2d2d2d;
  border: 0px;
  color: whitesmoke;
  font-weight: lighter;

  padding:10px;
}



/* Bouncing arrow Styling*/

.downArrow{
  font-size:100px;
  margin-top:130px;
  position:absolute;
  left:40%;
  color:white;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
.bounce {
  -webkit-animation: 2000ms bounce infinite;
  animation: 2000ms bounce infinite;
}




/* Form Styling*/
::-webkit-input-placeholder {
  text-align: center;
  font-weight:bold;
}

:-moz-placeholder { 
  text-align: center;  
}

::-moz-placeholder {  
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

textarea { 
  text-align: center;
  resize:none;
  border-bottom:5px solid white !important;
  
 }

input { 
  text-align: center;
  border-bottom:5px solid white !important;
 }

 input:focus { 
  outline: none !important;
  border-bottom:5px solid skyblue !important;
  
}

textarea:focus {
      outline: none !important;
  border-bottom:5px solid skyblue !important;
  
}
.form-control{
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
     border-radius: 0 !important;
}



 /* Navbar Styling */

 .navbar{
   margin-bottom:0px !important;
   border: none !important;
   border-radius: 0  !important;
  
 }


/* About section styles */
.aboutWrapper{ 
  margin-top:40%;
  
  padding:20px;
  

}
.aboutWrapper h1{
  font-weight:bold;
  color:white;
  text-shadow:  2px 2px   rgba(26, 6, 0, 0.45);
  text-align:center;
}

 .aboutText{
   margin-bottom:20px;
   font-size:21px;
   color:white;
   font-weight: 430;
   line-height:2;
   text-shadow:  1px 1px   rgba(26, 6, 0, 0.932);
 }
 .altText{
   font-weight: 540;
   color: rgb(252, 151, 0);
   text-shadow:  1px 2px   rgba(26, 6, 0, 0.932);
 }


 .techIcons{
  width:20%;
  display:inline-block !important; 
  max-width:40px;
  margin:4px;
  }
 .csharpImage,.dotNetImage{
  width:20%;
 }
 .jsImage{
  width:20%;
   
 }
 .reactImage{
  width:20%;
 }
 .sqlImage{
  width:20%;
 }
 .imageCards{
   margin-left:0px;
   padding:0px !important;
  
 }

/* Navbar style */
 .navbar-nav li a{
   font-size:20px;
   padding-top:0px;
   line-height: 33px !important;
   
   color:white !important;
 }
 

.socialLogo{
  width:30px;
  height:30px;
}
.gitHubLogo{
  border-radius:50%;
  border: 2px solid grey;
  background-color:white;
}
.navbar-brand{
  padding-bottom:0px;
}

.navbar-custom {
  
  border-color: #E7E7E7;
}

.navbar-brand{
   
    background-image:url("/images/rocket.png");
    background-repeat:no-repeat;
    background-size: contain;
    width:60px;
    height:50px !important;
    margin: 5px 25px 0px 25px;
    position: relative;
    left: 25px;
}



.navbar-custom {
  /*background-color: #191818!important;; */
  border-color: #E7E7E7;
  z-index:9;
}

.brandLogo{
  width:45px;

}

/* Rocket Animation */
@-webkit-keyframes takeoff {
  0% {
      left: 20;
      top:15;
      
    }
    50% {
      left: 30px;
      -webkit-transform: rotate(90deg);
    }
     60% {
      
      -webkit-transform: rotate(180deg);
    }
    
    100% {
      left: 20px;
      
    }
  }
@keyframes takeoff {
    0% {
      left: 20;
      top: 0;
    }
    50% {
      left: 30px;
      transform: rotate(90deg);
    }
     60% {
      
      transform: rotate(180deg);
    }
    
    100% {
      left: 20px;
      
    }
  }
.navbar-brand:hover {
  background-image:url("/images/rocketwithfire.png");
  -webkit-animation: 5000ms takeoff infinite;
  animation: 5000ms takeoff infinite;
}

.navbar .navbar-collapse {
  text-align: center;
  overflow:hidden;
 
}

li span{
  position: absolute;
  display:block;
  left: 8px;
  bottom:12px;
  margin:0 auto;
  height: 0px;   
  width: 0px;
  transition: width 1s ease;
  background-color: white;
}
li:hover span{
  height:2px; 
  width:80%; 
}


/* Project Styles */
.projectWrapper{
  background-color:rgba(249,249,249, 0.5) ;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.6);
  position:absolute;
  padding:0px !important;
  min-height:186px !important;
  transition:height 4s ease;
  z-index:600;
  
}
.appCon{
  margin-top:10%;
  z-index:4;
}
.appCon h1{
  font-weight:bold;
  color:white;
  text-shadow:  2px 2px   rgba(26, 6, 0, 0.7);
  text-align:center;
  margin-bottom:12px;
}


.techTags{
  list-style: none;
  text-align:center;
  margin-top:5px;
  margin-bottom:0px;
  padding-left:0px;
}
.projectTitle{
  font-weight:bold;
  margin-top:5px;
  
}
.techTags li{
  position: relative;
  list-style: none;
  display: inline-block;
  padding:5px;
  margin:2px;
  background-color:rgba(44, 128, 184, 0.945);
  border-radius:3px;
  color:white;
  font-size:12px;
}
.projectDetails {
  text-align:center; 
  background-color:rgba(74, 74, 75, 0.945);
  color:white;
  padding-top:10px;
  padding-bottom:10px;
  min-height:210px;
  position:relative;
}
.projectDetails p{
  margin: 10px 20px 0px 20px;
  color:rgba(233, 233, 233, 0.945);
  font-size:16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.projectClose{
  font-size:25px;
  position:absolute;
  color:white;
  color:rgba(233, 233, 233, 0.5);
  top:10px;
  right:10px;
}
.projectDetails button{
  color:rgba(129, 128, 128, 0.945);
  font-weight:bold;
  margin:15px ;
}
.projectDetails a{
  color:rgba(66, 66, 66, 0.945);
  text-decoration:none;
}
.projectDetails a:hover{
  
  text-decoration:none;
}

.projectImage{
  max-height:150px;
 margin:0 auto;
}


.filterForm{
  margin: 12px  35px 0px 35px;
  text-align:center;
}
.filterForm input{
  width:70%;
  
}
.App ul {
  list-style: none;
  text-align:center;
  margin-top:10px;
  padding-left:0px;
}
.App ul li{
  position: relative;
  list-style: none;
  display: inline-block;
  padding:5px;
  margin:2px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.6);
  border-radius:3px;
  color:white;
  font-weight:bold;
  background-color:rgba(2, 153, 2, 0.945);
}
.App ul li:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05); 
   transform: scale(1.05); 
}
 
.Other{
  background-color:rgba(255, 115, 0, 0.822)   ;
}
.Web{
  background-color:rgb(238, 2, 238) !important ;
}
.Desktop{
  background-color:rgb(255, 38, 0) !important;
}



/* media queries */
@media only screen and (max-width: 1100px) {
  .aboutWrapper{
    margin-top:15%;

  }

  .aboutText{
    font-size:18px;
  }
}
@media only screen and (max-width: 990px) {
  .aboutWrapper{
    margin-top:15%;
  }

}
@media only screen and (max-width: 460px) {
    .aboutText{
      margin-bottom:0px;
      text-align:center;
      font-size:16px;
    }
    .aboutWrapper h1{
      font-size:20px;
    }
    .aboutWrapper{
      margin-top:0px;
    }
    .appCon h1{
      font-size:20px;
    }

    .projectWrapper ul li{
        padding:2px;
    }
    .projectDetails p{
      font-size:14px;
    }
    .projectImage{
      height:90px;
    }

    .downArrow{
      font-size:70px;
      margin-top:20%;
      left:42%;
    }
    .navbar-nav{
      background-color:rgba(0,0,0,0.7);
    }
}